.style-rounded{
    border-radius: 5px;
}
.style-shadow{
   
    box-shadow:  0 3px 2px rgba(0, 0, 0, 0.1);
}
header{
    padding: 15px 0px;
    .top-header{
        .logo-search{
            .header-logo{
                .site-logo{
                    h1{
                        font-size: 30px;
                        color: $primary-color;
                        span{
                            background-color: $primary-color;
                            color: white;
                            padding: 5px;
                        }
                    }
                }
            }
            .head-search{
                form{
                    p{
                        margin-bottom: 0;
                    }
                    .news-btn{
                        color: white;
                        background-size: 15%;
                        background-repeat: no-repeat;
                        background-position: 9% 50%;
                    }
                }
            }
        }
    }
    .main-header-content{
        .navigation-menu-holder{
            width: 100%;
            background-color: $primary-color;
            .main-navigation {
                width: 100%;
                height: 100%;
                align-items: center;
                transition: all 0.3s linear;
                display: flex;
                
                float: left;
                text-align: left;
                    
                    @media screen and (max-width: $break-small) {
                        display: none;
                    }
                ul {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        .sub-menu{
                            display: flex;
                            width: 100%;
                            .sub-menu-wrap{
                                display: flex;
                                float:left;
                                    width: 80%;
                                .sub-menu-list{
                                    border-right: 1px solid #ddd;
                                    padding: 0px 30px;
                                    
                                    &:last-child{
                                        border-right: 0;
                                    }
                                }
                            
                            }	
                            .menu-img{
                                width:20%;
                                float:right;
                                height: 250px;
                                img{
                                    object-fit: cover;
                                    border-radius: 20px;;
                                }
                            }
                        }
                        ul {
                            width: 100%;
                            display: block;
                            margin: 0;
                            min-width: 220px;
                        
            
                            ul {
                                right: 100%;
                                top: 0;
                                left: inherit;
            
                                &::after {
                                    content: none;
                                }
            
                                ul {
                                    display: none;
                                }
            
                                li {
                                    &:hover {
                                        border-bottom: 2px solid $primary-color;
                                        >ul {
                                            display: block;
                                        }
                                    }
                                }
                            }
            
                            li {
                                &:hover {
                                    >ul {
                                        right: 100%;
                                    }
                                }
            
                                &:last-child {
                                    >a {
                                        border: none;
                                    }
                                }
                            }
            
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: -5px;
                                
                                z-index: 9999;
                                right: 32px;
                                transform: rotate(45deg);
                                
                                height: 12px;
                                width: 12px;
                            }
            
                            a {
                                // border-bottom: 1px solid #398bb9;
                                transition: padding 0.2s ease-in-out 0s;
                                color: white;
                            
                                position:relative;
                                height: auto;
                                
                                text-align: left;
                                font-size: 14px;
                                font-weight: normal;
                                text-transform: capitalize;
                            }
                        }
            
                        >li {
                            &:hover {
                                >ul {
                                    right: 0;
                                    z-index: 9999;
                                    opacity: 1;
                                    display: block;
                                    -moz-animation: fadeInUp 0.3s ease-in;
                                    -webkit-animation: fadeInUp 0.3s ease-in;
                                    animation: fadeInUp 0.3s ease-in;
                                }
                            }
                        }
            
                        li {
                            float: revert;
                            transition: all 0.3s linear;
                            position: relative;
                            transition: all 0.3s linear;
                            margin: 0px 10px;
            
                            a {
                                color: white;
                                display: block;
                                font-size: 14px;
                                padding:10px 10px;
                                z-index: 99;
                                position: relative;
                                font-weight: 600;
                                height: 100%;
                                margin:0px 5px;
                                letter-spacing: 0.5px;
                                text-transform: capitalize;
                                webkit-transition: all 0.3s ease-in-out;
                                -moz-transition: all 0.3s ease-in-out;
                                -ms-transition: all 0.3s ease-in-out;
                                -o-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out;
            
                                @media screen and (max-width: $break-normal) {
                                    font-size:12px;
                                    padding: 10px 10px;
                                }
                                
                            }
                          
                            &:after{
                                content: "";
                                position: absolute;
                                width: 0%;
                                height: 2px;
                                background-color: white;
                                bottom:5px ;
                                left: 0;
                                transition: all 0.3s linear;
                            }
                            &.active{
                                &:after{
                                    width: 100%;
                                }
                                
                           
                            }
                            &:hover{
                                &:after{
                                    width: 100%;
                                }
                                
                                a{
                                    color: white;
                                }
                            }
                    
                    }
            
                    li {
                        
                        display: inline-block;
                        margin-bottom: 0;
                        float: left;
            
                        li {
                            float: none;
                            display: block;
            
                            >a {
                                &:hover {
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
            
                            &:hover {
                                >a {
                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
            
                        >a {
                            &:hover {
                                color: white;
                            }
                        }
            
                        &:hover {
                            >a {
                                color: white;
                            }
                        }
            
                        .sub-menu {
                            h4{
                                text-transform: uppercase;
                                position: relative;
                                display: inline-block;
                            
                            }
                            li {
                                border-bottom: none;
                                a {
                                    opacity: 1;
                                    color: $secondary-color;
                                    transition: all 0.3s linear;
                                    padding:5px 0px;
                                    text-transform: uppercase;
                                }
            
                                &:hover {
                                    border-bottom: none;
                                    >a {
                                        color: $primary-color;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
            
                        li.current-menu-item {
                            >a {
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
            
                    li.current-menu-item {
                        border-bottom: 2px solid $primary-color;
                        >a {
                            color: $text-color;
                        }
                    }
            
                    li.current_page_item {
                        >a {
                            color: $text-color;
            
                            &::before {
                                display: none;
                            }
                        }
                    }
            
                    .menu-toggle {
                        display: none;
                    }
            
                    .dropdown-toggle {
                        
                    }
                }
            }
        }
    
    }
}

.no-display{
    display: none;
}
// .navigation-menu-holder {
  
//     padding: 10px 0px;
// }

.site-header-menu{
    @media screen and (max-width: $break-small) {
        display: none;
      }
}


.widget-logo{
    img{
        width: 100px;
        margin-bottom: 40px;
    }
    p {
        color: white;
    }
   

}
#breadcrumb-list {
    position: relative;
    z-index: 1;
  }
  
  .news-breadcrumb-holder {
    text-align: left;
    padding:20px 0px;
    .breadcrumbs ul {
      margin-left: 0px;
    }
  }
  
  .breadcrumb-trail.breadcrumbs ul {
    li {
      display: inline-block;
      color:$primary-color;
      font-size: 20px;
  
      a {
        color:$primary-color;
        padding-right: 5px;
        font-weight: bold;
  
        &:after {
          content: "/";
          padding-left: 5px;
          font-family: fontawesome;
          font-weight: bold;
        }
      }
    }
  
    .trail-end {
      color: #252525;
      font-size: 16px;
      font-weight: normal;
    }
  }

  #mobile-nav-toggle {
    position: fixed;
    right: 0px;
    z-index: 9998;
    top:2%;

    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
	transition: all 0.3s linear;
	&.cross{
		top: 0%;
		box-shadow: none;
	}
}

@media (max-width: 960px){
	#mobile-nav-toggle {
		display: inline-block;
		right: 0;
		
		
	}
	.mobile-nav-active {
		#mobile-nav-toggle {
			left: 50%;
		}
	}
}
@media only screen and (max-width: 767px){
#mobile-nav-toggle { 
	

	width: 100px;
	background-color: white;
    
}
}



#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 9997;
	background: #fff;
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
  
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
  
	  li {
		position: relative;
  
		a {
		  color: #000;
		  font-size: 13px;
		  text-transform: capitalize;
		  overflow: hidden;
		  padding: 10px 22px 10px 15px;
		  position: relative;
		  text-decoration: none;
		  width: 100%;
		  display: block;
		  outline: none;
		  font-weight: 400;
  
		  &:hover {
			color: #fff;
		  }
		}
  
		li {
		  padding-left: 30px;
		}
	  }
  
	  .menu-has-children {
		i {
		  position: absolute;
		  right: 0;
		  z-index: 99;
		  padding: 15px;
		  cursor: pointer;
		  color: #fff;
  
		  &.fa-chevron-up {
			color: #129dbc;
		  }
		}
  
		li a {
		  text-transform: none;
		}
	  }
  
	  .menu-item-active {
		color: #fff;
	  }
	}
  }
  
  #mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: #e8e8e8b3;
	display: none;
  }
  .mobile-nav-active{
	#mobile-nav {
		left: 0;
	  }
  }