.news-featured-section{
    
    .news-featured{
        @include news-style;
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        .news-single{
            .item-image-holder{
                padding-bottom: 40%;
                margin-bottom: 10px;
            }
            .news-content{
                p{
                    font-size: 16px;
                }
            }
        }   
    }
}
.news-list-section{
    .news-list-wrap{
        display: flex;
        flex-wrap: wrap;
        @include news-style;
    }
    
}
.adv-section{
    .adv-holder{
        .item-image-holder{
            border-radius: 20px;
            padding-bottom: 40%;
        }
    }
}
footer{
    .footer__widgets{
        .widget-logo{
            
            h2{
                color: white;
                font-weight: 800;
            }
        }
        .footer-menu-widget{
            margin-bottom: 20px;
            ul{
                margin-left: 0;
                border-bottom: 1px solid #939393;
                display: inline-block;
                width: 100%;
                padding-bottom: 20px;
                li{
                    float: left;
                    width: 20%;
                    line-height: 2;
                    padding-left: 25px;
                    border-right: 1px solid #939393;
                    a{
                        transition: all 0.3s linear;
                        font-weight: 700;
                        font-size: 12px;
                        &:hover{
                            color: white;
                            opacity: 0.8;
                        }
                    }
                    @media screen and (max-width: $break-small) {
                        width: 50%;
                       }
                }
            }
        }
        .minor-menu{
            ul{
                margin-left: 0;
                li{
                    display: inline;
                    padding-right: 20px;
                    a{
                        text-transform: capitalize;
                        font-size: 12px;

                    }
                }
            }
        }
        .copyright{
            color: white;
            
        }
    }
   
}