$primary-color:#3d61ff;
$primary-color-light:#3d61ff94;
$entry-color:#83858F;
$secondary-color:#ddd;
$text-color:#000;
$footer-color:#3d61ff;
$twitter-color:#00acee;
$facebook-color:#4267B2;
$font-primary: 'Poppins', sans-serif;
$font-title:'Playfair Display', serif;
$instagram-color:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$youtube-color:#FF0000;
$break-small:767px;
$break-medium: 990px;
$break-normal:1499px;
.white-text{
    color:#fff;
}
.footer--dark{
    background-color: $footer-color;
}
.entry-style{
    color: $entry-color;
    text-transform: uppercase;
    span{
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #83858F;
        a{
          color: $primary-color;
        }
    }
}
@mixin news-style{
    .news-single{
        margin-bottom: 30px;
        &.rounded{
            .item-image-holder{
                border-radius: 20px;
            }
        } 
        .news-content{
            .news-cat{
                color: $primary-color;
                padding: 5px;
                border-bottom: 2px solid $primary-color;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 5px;
                display: inline-block;
            }
            h2{
                font-family: $font-title;
                font-size: 40px;
                margin-bottom: 5px;
                font-weight: 900;
            }
            h4{
                font-family: $font-title;
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 900;
            }
            .entry-container{
                margin-bottom: 10px;
                .date{
                    color:$entry-color;
                }
            }
            
            p{
                color: #000;
                font-size: 14px;
            }
        }
     
    }
}

