.white-text {
  color: #fff;
}

.footer--dark {
  background-color: #3d61ff;
}

.entry-style {
  color: #83858F;
  text-transform: uppercase;
}

.entry-style span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #83858F;
}

.entry-style span a {
  color: #3d61ff;
}

html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  padding: 25px 0px 25px;
}

footer {
  padding: 20px 0px;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 14px;
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 15px 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #3d61ff;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #3d61ff;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #3d61ff;
  text-decoration: none;
  outline: inherit;
}

a.more-link {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 13px;
  background: #08c299;
  color: #fff;
  position: relative;
  z-index: 0;
  font-size: 16px;
  font-weight: 500;
}

a.more-link:hover {
  background: #000;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Poppins", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f7f7f7 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: white;
}

.fixed {
  position: fixed;
}

.news-btn {
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #3d61ff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  padding: 0 16px;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .mb-scroll-container {
    min-width: 360px;
    display: inline-block;
    vertical-align: top;
  }
}

.style-rounded {
  border-radius: 5px;
}

.style-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

header {
  padding: 15px 0px;
}

header .top-header .logo-search .header-logo .site-logo h1 {
  font-size: 30px;
  color: #3d61ff;
}

header .top-header .logo-search .header-logo .site-logo h1 span {
  background-color: #3d61ff;
  color: white;
  padding: 5px;
}

header .top-header .logo-search .head-search form p {
  margin-bottom: 0;
}

header .top-header .logo-search .head-search form .news-btn {
  color: white;
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 9% 50%;
}

header .main-header-content .navigation-menu-holder {
  width: 100%;
  background-color: #3d61ff;
}

header .main-header-content .navigation-menu-holder .main-navigation {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  text-align: left;
}

@media screen and (max-width: 767px) {
  header .main-header-content .navigation-menu-holder .main-navigation {
    display: none;
  }
}

header .main-header-content .navigation-menu-holder .main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu .sub-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu .sub-menu-wrap .sub-menu-list {
  border-right: 1px solid #ddd;
  padding: 0px 30px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu .sub-menu-wrap .sub-menu-list:last-child {
  border-right: 0;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu .menu-img {
  width: 20%;
  float: right;
  height: 250px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .sub-menu .menu-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul {
  width: 100%;
  display: block;
  margin: 0;
  min-width: 220px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul ul {
  right: 100%;
  top: 0;
  left: inherit;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul ul::after {
  content: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul ul ul {
  display: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul ul li:hover {
  border-bottom: 2px solid #3d61ff;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul ul li:hover > ul {
  display: block;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul li:hover > ul {
  right: 100%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul li:last-child > a {
  border: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  z-index: 9999;
  right: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 12px;
  width: 12px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul ul a {
  -webkit-transition: padding 0.2s ease-in-out 0s;
  transition: padding 0.2s ease-in-out 0s;
  color: white;
  position: relative;
  height: auto;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

header .main-header-content .navigation-menu-holder .main-navigation ul > li:hover > ul {
  right: 0;
  z-index: 9999;
  opacity: 1;
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-in;
  animation: fadeInUp 0.3s ease-in;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li {
  float: revert;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  transition: all 0.3s linear;
  margin: 0px 10px;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li a {
  color: white;
  display: block;
  font-size: 14px;
  padding: 10px 10px;
  z-index: 99;
  position: relative;
  font-weight: 600;
  height: 100%;
  margin: 0px 5px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1499px) {
  header .main-header-content .navigation-menu-holder .main-navigation ul li a {
    font-size: 12px;
    padding: 10px 10px;
  }
}

header .main-header-content .navigation-menu-holder .main-navigation ul li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li.active:after {
  width: 100%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li:hover:after {
  width: 100%;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li:hover a {
  color: white;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li {
  display: inline-block;
  margin-bottom: 0;
  float: left;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li li {
  float: none;
  display: block;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li li > a:hover::before {
  display: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li li:hover > a::before {
  display: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li > a:hover {
  color: white;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li:hover > a {
  color: white;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li .sub-menu h4 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li .sub-menu li {
  border-bottom: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li .sub-menu li a {
  opacity: 1;
  color: #ddd;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px 0px;
  text-transform: uppercase;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li .sub-menu li:hover {
  border-bottom: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li .sub-menu li:hover > a {
  color: #3d61ff;
  opacity: 1;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li li.current-menu-item > a::before {
  display: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li.current-menu-item {
  border-bottom: 2px solid #3d61ff;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li.current-menu-item > a {
  color: #000;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li.current_page_item > a {
  color: #000;
}

header .main-header-content .navigation-menu-holder .main-navigation ul li.current_page_item > a::before {
  display: none;
}

header .main-header-content .navigation-menu-holder .main-navigation ul .menu-toggle {
  display: none;
}

.no-display {
  display: none;
}

@media screen and (max-width: 767px) {
  .site-header-menu {
    display: none;
  }
}

.widget-logo img {
  width: 100px;
  margin-bottom: 40px;
}

.widget-logo p {
  color: white;
}

#breadcrumb-list {
  position: relative;
  z-index: 1;
}

.news-breadcrumb-holder {
  text-align: left;
  padding: 20px 0px;
}

.news-breadcrumb-holder .breadcrumbs ul {
  margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs ul li {
  display: inline-block;
  color: #3d61ff;
  font-size: 20px;
}

.breadcrumb-trail.breadcrumbs ul li a {
  color: #3d61ff;
  padding-right: 5px;
  font-weight: bold;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
  content: "/";
  padding-left: 5px;
  font-family: fontawesome;
  font-weight: bold;
}

.breadcrumb-trail.breadcrumbs ul .trail-end {
  color: #252525;
  font-size: 16px;
  font-weight: normal;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0px;
  z-index: 9998;
  top: 2%;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#mobile-nav-toggle.cross {
  top: 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline-block;
    right: 0;
  }
  .mobile-nav-active #mobile-nav-toggle {
    left: 50%;
  }
}

@media only screen and (max-width: 767px) {
  #mobile-nav-toggle {
    width: 100px;
    background-color: white;
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9997;
  background: #fff;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #129dbc;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: #e8e8e8b3;
  display: none;
}

.mobile-nav-active #mobile-nav {
  left: 0;
}

.news-featured-section .news-featured {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.news-featured-section .news-featured .news-single {
  margin-bottom: 30px;
}

.news-featured-section .news-featured .news-single.rounded .item-image-holder {
  border-radius: 20px;
}

.news-featured-section .news-featured .news-single .news-content .news-cat {
  color: #3d61ff;
  padding: 5px;
  border-bottom: 2px solid #3d61ff;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.news-featured-section .news-featured .news-single .news-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 900;
}

.news-featured-section .news-featured .news-single .news-content h4 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 900;
}

.news-featured-section .news-featured .news-single .news-content .entry-container {
  margin-bottom: 10px;
}

.news-featured-section .news-featured .news-single .news-content .entry-container .date {
  color: #83858F;
}

.news-featured-section .news-featured .news-single .news-content p {
  color: #000;
  font-size: 14px;
}

.news-featured-section .news-featured .news-single .item-image-holder {
  padding-bottom: 40%;
  margin-bottom: 10px;
}

.news-featured-section .news-featured .news-single .news-content p {
  font-size: 16px;
}

.news-list-section .news-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-list-section .news-list-wrap .news-single {
  margin-bottom: 30px;
}

.news-list-section .news-list-wrap .news-single.rounded .item-image-holder {
  border-radius: 20px;
}

.news-list-section .news-list-wrap .news-single .news-content .news-cat {
  color: #3d61ff;
  padding: 5px;
  border-bottom: 2px solid #3d61ff;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.news-list-section .news-list-wrap .news-single .news-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 900;
}

.news-list-section .news-list-wrap .news-single .news-content h4 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 900;
}

.news-list-section .news-list-wrap .news-single .news-content .entry-container {
  margin-bottom: 10px;
}

.news-list-section .news-list-wrap .news-single .news-content .entry-container .date {
  color: #83858F;
}

.news-list-section .news-list-wrap .news-single .news-content p {
  color: #000;
  font-size: 14px;
}

.adv-section .adv-holder .item-image-holder {
  border-radius: 20px;
  padding-bottom: 40%;
}

footer .footer__widgets .widget-logo h2 {
  color: white;
  font-weight: 800;
}

footer .footer__widgets .footer-menu-widget {
  margin-bottom: 20px;
}

footer .footer__widgets .footer-menu-widget ul {
  margin-left: 0;
  border-bottom: 1px solid #939393;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

footer .footer__widgets .footer-menu-widget ul li {
  float: left;
  width: 20%;
  line-height: 2;
  padding-left: 25px;
  border-right: 1px solid #939393;
}

footer .footer__widgets .footer-menu-widget ul li a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 700;
  font-size: 12px;
}

footer .footer__widgets .footer-menu-widget ul li a:hover {
  color: white;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  footer .footer__widgets .footer-menu-widget ul li {
    width: 50%;
  }
}

footer .footer__widgets .minor-menu ul {
  margin-left: 0;
}

footer .footer__widgets .minor-menu ul li {
  display: inline;
  padding-right: 20px;
}

footer .footer__widgets .minor-menu ul li a {
  text-transform: capitalize;
  font-size: 12px;
}

footer .footer__widgets .copyright {
  color: white;
}
/*# sourceMappingURL=main.css.map */